.booking-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.success-window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}